body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url(../images/main.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
 
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}



h1 {
  font-family: "Audiowide", sans-serif;
  font-style: italic;
  color: #373fff;
}
.brandtext{
  font-family: "Sofia", sans-serif;
}

.nav-link{
  font-family:"Audiowide", sans-serif ;
}

.input-group {

  margin-bottom: 50px;
  margin-top: 50px;
}

.card{
   margin: auto;
   width: 500px;

}

.main{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.search-container {
  text-align: center;
  margin-top: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.card-text{
  color: white;
}
  